* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variable */
:root {
  --background-color: #f7f8fc;
  --text-color: #2d2d2d;
  --header-background: #4a90e2;
  --message-background: #f0f4ff;
  --user-message-background: #4a90e2;
  --white-color: #fff;
  --icon-hover-color: #4169e1;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Basic Body Styling */
body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.chatbot-container {
  width: 380px;
  height: 600px;
  max-width: 600px;
  border-radius: 1rem;
  background: var(--white-color);
  border: 1px solid var(--text-color);
  overflow: hidden;
  border: none;
  position: relative;
  font-weight: bold;
  box-shadow: 0px 4px 10px var(--shadow-color);
  transition: 0.3s ease;
}
button {
  background: none;
}
.logo-button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--white-color);
}
.logo-image {
  width: 36px;
  height: 36px;
  padding: 0.3rem;
}
.chatbot-icon {
  width: 30px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--white-color);
}

/* Header Section */
.chatbot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background: var(--header-background);
  border-radius: 1rem 1rem 0 0;
  border: none;
  width: 100%;
  padding: 1rem;
}

/* Header left section */
.header-left {
  display: flex;
  gap: 0.5rem;
}
.logo-text {
  color: var(--white-color);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
.drop-down-menu {
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  transition: 0.3s ease;
}
.message-container {
  padding: 1rem;
  overflow-y: auto;
  max-height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scrollbar-width: thin;
}
.message {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.message-bubble {
  max-width: 70%;
  padding: 0.5rem;

  font-weight: 500;
  box-shadow: 0 4px 5px 2px var(--shadow-color);
}
.chatbot-bubble {
  background-color: var(--message-background);
  color: var(--text-color);
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  font-size: 0.9rem;
}
.chatbot-message {
  display: flex;
  justify-content: flex-start;
}
.user-bubble {
  background-color: var(--user-message-background);
  color: var(--white-color);
  font-size: 0.9rem;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
}
.user-message {
  display: flex;
  justify-content: flex-end;
}
.typing-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--header-background);
  padding: 0.5rem 1rem;
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  height: 60px;
  width: 100%;
}
.input-text {
  width: 70%;
  padding: 0.5rem 0.4rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  font-weight: 550;
}
.typing-section button {
  width: 35px;
  height: 32px;
  border-radius: 50%;
  font-size: 1.4rem;
  border: none;
  color: var(--white-color);
  transition: 0.2s ease;
}
.typing-section button:hover {
  transform: rotate(20deg);
  color: bisque;
}
.drop-down-menu:hover {
  transform: rotate(180deg);
}
.trigger-container {
  background: none;
  border: none;
  position: fixed;
  bottom: 70px;
  right: 40px;
}
.trigger-container:hover {
  transform: rotate(-20deg);
}
.trigger-button {
  width: 100px;
  height: 100px;
  font: var(--white-color);
  cursor: pointer;
  border: none;
}
.trigger-icon-image {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: aliceblue;
  box-shadow: 2px 3px 4px 5px  rgba(0, 0, 0, 0.1);
}
.active {
  display: none;
}