@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
  
}
:root{

  --white-color:#fff;
  --black-color:#000;
  --light-white-color:#f0f0f0;
  --light-gray-color:#e5e5e5;
  --border-color:#d4d4d4;
  --primary-color:#3b82f6;
  --secondary-color:#404040;
  --overlay-dark-color:rgba(0,0,0,0.6);
}


body.dark-mode
{
  --white-color:#171717;
  --black-color:#d4d4d4;
  --light-white-color:#333;
  --light-gray-color:#404040;
  --border-color:#737373;
  --secondary-color:#d4d4d4;
}

img
{
  width: 100%;
}
a
{
  text-decoration: none;
}

button
{
  cursor:pointer;
  background: none;
  border: none;
}


body
{
  background: var(--white-color);
}
.navbar
{
  background: var(--white-color);
}
.navbar .user-image,.navbar .logo-image
{
  width: 32px;
  border-radius: 50%;
}
.navbar
{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-between;

}
.navbar .nav-section, .navbar .search-form , .nav-logo
{
  display: flex;
  
}
p,.views{
  color: var(--black-color);
}
.sidebar-hidden
{
  background:var(--white-color);
}


aside
{
  
  background:var(--white-color);
}

.container
{
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
 header,.category-list
{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--white-color);
}
.navbar .nav-section
{
  gap: 1rem;
}
.nav-bar .nav-logo{
  display: flex;
  gap:0.5rem;
  
}

.navbar .nav-logo .logo-text
{
  font-size: 1.25rem;
  color: var(--black-color);

}

.navbar .nav-button
{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* background-color: var(--light-gray-color);
   */
   background: none;
  
}

.navbar .nav-button:hover
{
  background-color: var(--light-gray-color);
}

.navbar .nav-button i
{
  display: flex;
  color: var(--black-color);
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
}

.navbar .nav-center
{
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.navbar .search-form
{
  max-width: 550px;
 
  flex: 1;
  height: 40px;
}

.navbar .search-form .search-input
{
  width:100% ;
  height: 100%;
  padding: 0 1rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3.1rem 0 0 3.1rem ;
}

.navbar .search-form .search-button 
{
  width: auto;
 
  
  padding:0 1.25rem;
  border-radius:0 3.1rem 3.1rem 0;
  border: 1px solid var(--border-color);
  border-left: 0;
}


/* Category list */

.content-wrapper .category-list
{
  display: flex;
  gap: 0.75rem;
  overflow-x: auto;
  padding: 0.75rem 0 0.75rem; 
  scrollbar-width: none;
}
.main-layout
{
  display: flex;
  overflow-y: auto;
}
.main-layout .content-wrapper
{
  overflow-x: hidden;
  padding: 0 1rem;
  width: 100%;


}

.content-wrapper .video-list
{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  padding: 0.4rem 0.75rem;
}

.category-list .category-button
{
  background-color: var(--light-gray-color);
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.4rem 0.75rem;
  color: var(--black-color);
  /* background: var(--black-color); */
}

.search-input
{
  background-color: var(--white-color);
  color: var(--black-color);
}

.search-input:focus
{
  border-color: var(--primary-color);
}



.video-list .video-card
{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  

}

.thumbnail-container
{
  display: flex;
  width: 100%;
  position: relative;

}
.video-list .video-card .thumbnail
{
 width: 100%;
 aspect-ratio: 16/9;
 border-radius: 0.5rem;
 
}


.video-card .icon
{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  
}

.video-card .video-info
{
  display: flex;
  gap: 1rem;
}
.video-card .video-details .title
{
  font-size: 1rem;
  font-weight: 600;
  color:var(--black-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}



.category-button
{
  border-radius: 0.5rem;
  background: var(--border-color);
}
.video-list .video-card p
{
  font-size: 0.87rem;
  /* color: var(--secondary-color); */
}

.video-card .duration
{
  position: absolute;
  right: 0.65rem;
  bottom:0.8rem ;
  color: #fff;
  background-color: var(--overlay-dark-color);
  
  padding: 0 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.875rem
}

.video-card .channel-name
{
  margin: 0.25rem 0 0.15rem;
}

.video-card:hover,.title

{
  color: var(--primary-color);
}

.main-layout .sidebar
{
  width: 280px;
  background-color: var(--white-color);
}

.sidebar .link-section .link-item
{
  display: flex;
  align-items: center;
  padding: 0.37rem 0.75rem;
  text-decoration: none;
  margin-bottom: 0.25rem;
  color:var(--black-color);
  font-size: 0.938rem;
  white-space: nowrap;
  border-radius: 0.5rem;
}

.link-item:hover
{
  background: var(--light-gray-color);
}
.sidebar .link-section .link-item i{
  font-size: 1.4rem;
  margin-right: 0.63rem;
}

.sidebar 

{
  height: calc(100vh-60px);
  
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding: 1rem 0 2rem;
  overflow-y: auto;
  transition: 0.3s ease;
}
.sidebar:hover
{
  scrollbar-color: #a6a6a6 transparent;
}
body.sidebar-hidden .main-layout .sidebar
{
  width: 0;
  padding: 0;
}
.sidebar .link-section .section-title
{
  font-size: 0.938 rem;
  font-weight: 600;
  color: var(--black-color);
  margin: 1rem 0 0.5rem 0.5rem;
}
.category-button.active
{
  color: var(--white-color);
  background: var(--black-color);
  pointer-events: none;

}

.sidebar .section-separator
{
  height: 1px;
  margin: 0.625rem 0;
  background-color: var(--light-gray-color);
}

@media screen and (max-width:800px)

{

  .main-layout .sidebar
  {
    position: absolute;
    left: 0;
    
    z-index: 20;
    height: 100vh;
  }
  

  
  .logo-text
  {
    display: none;
  }
}
